POSTGRES_USER=ecodelivery
POSTGRES_PASSWORD=ecodelivery
POSTGRES_DB=postgres

DATABASE_URL=postgresql+psycopg2://ecodelivery:ecodelivery@postgres:5432/ecodelivery

API_KEY=

BACKEND_URL=http://backend:8000

AIRFLOW_UID=50000
AIRFLOW__CORE__FERNET_KEY=JTy1lXxEYp1Yejo9B6shs3ToCCyUHXbz31EakmWM6rM=
AIRFLOW__WEBSERVER__SECRET_KEY=cambia-esta-clave-en-produccion
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
