.env

sustentacion_tecnica.md
como_power_bi.md

backend/.venv/
backend/*.db
backend/**/__pycache__/
backend/.pytest_cache/
__pycache__/

data/reporte_pedidos.csv
data/_stage_*

app_flutter/.dart_tool/
app_flutter/build/
app_flutter/android/
app_flutter/ios/
app_flutter/web/
app_flutter/linux/
app_flutter/macos/
app_flutter/windows/
app_flutter/pubspec.lock
